body{
  background: #d2d2c1 url(/Imagens/fundo.png);
  font: 16px Arial, Helvetica, sans-serif;
}

#tudo {
  width: 900px;
}

#fundo-itens {
  width: 900px;
  background: #e8e8d9;
}

#menu {
  width: 900;
  height: 100px;
  background: #c5c5b2;
  display: flex;
  align-items: center;
}

a {
  color: #4b566a;
  text-decoration: none;
  font-weight: bold;
  padding: 16px;
}

#conteudo {
  padding: 10px;
}

#rodape {
  text-align: center;
}

h1 {
  color: #828271;
  font-size: 1.2em;
}

.img-campanha {
  border: 10px solid #c3c3ae
}

#email-contato {
 margin-bottom: 10px;
}

#email-usuario {
  margin-bottom: 20px;
}

#msg-usuario {
  margin-bottom: 20px;
}

#areadetexto {
  margin-top: 5px;
  height: 100px;
  width: 170px;
}